@font-face {
  font-family: Sarabun-Bold;
  src: url(./font/Sarabun-Bold.ttf);
}
@font-face {
  font-family: Sarabun-ExtraBold;
  src: url(./font/Sarabun-ExtraBold.ttf);
}
@font-face {
  font-family: Sarabun-Regular;
  src: url(./font/Sarabun-Regular.ttf);
}

body {
  font-family: "Sarabun-Regular";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.navbar {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  background-color: #245c00;
  height: 3.2rem !important;
  margin-bottom: 2rem;
  width: 100%;
}

ul {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  margin-right: 2rem;
}

li {
  display: inline;
}

.nav-item {
  cursor: pointer;
  padding: 0 0.8rem;
  text-decoration: none;
  color: #fff !important;
}

.nav-item:hover {
  font-family: "Sarabun-ExtraBold";
  font-weight: bolder;
  font-size: large;
}

.thumbnail {
  background-color: #e4e7e8;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 0 -3.2rem 0;
  padding-top: 3.2rem;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  padding: 1.2rem;
}

.avatar {
  border-radius: 50%;
  border: solid 0.2rem #245c00;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 1.2rem;
  width: 80%;
}

.name {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-family: "Sarabun-ExtraBold" !important;
  color: #245c00;
}

.job-title {
  font-family: "Sarabun-Bold" !important;
  font-size: 1.2rem;
  color: #67a125;
}

.btn {
  margin: 1rem 0;
}

.downloadbtn {
  background-color: #67a125;
  color: #fff;
  border-radius: 0.6rem;
  border: none;
  padding: 0.6rem;
}

.downloadbtn:hover {
  background-color: #245c00;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.8rem 0;
  width: 70%;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.navdetail {
  width: 100%;
  padding-top: 3.2rem;
}

.detailtitle {
  font-family: "Sarabun-Bold";
  font-size: 1.4rem;
  color: #67a125;
  margin-bottom: 0.2rem;
}

.detailbg {
  width: 100%;
  background-color: #fcfefe;
  border-radius: 0.4rem;
  border: 0.04rem solid #245c00;
}

.detailcontent {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 1rem;
  text-align: justify;
}

.education-content {
  display: flex;
  margin: 0.2rem;
}

.education-title {
  font-weight: bolder;
  color: #245c00;
  margin-right: 0.2rem;
}

.education-description :hover {
  font-size: large;
}

.certification-content {
  display: flex;
  margin: 0.2rem;
}

.certification-title {
  font-weight: bolder;
  width: 45%;
  color: #245c00;
}

.certification-description {
  width: 45%;
}

.certification-date {
  display: flex;
  justify-content: flex-end;
  width: 10%;
}

.experience-group {
  display: flex;
  flex-direction: column;
}

.experience-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.4rem 0;
}

.experience-company {
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: "Sarabun-ExtraBold";
  color: #245c00;
}

.experience-position {
  font-size: 1rem;
  font-weight: bolder;
  font-family: "Sarabun-Bold";
  color: #67a125;
}

.experience-time {
  font-style: italic;
}

.experience-description {
  margin-left: 0.4rem;
}

.achievements-content {
  display: flex;
  margin: 0.08rem;
}

.achievements-title {
  font-weight: bolder;
  width: 50%;
  padding-right: 0.4rem;
  color: #245c00;
}

.achievements-description {
  width: 42%;
}

.achievements-date {
  display: flex;
  justify-content: flex-end;
  width: 10%;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skilllist {
  display: flex;
  width: 100%;
}

.skill {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25%;
  margin: 0 1.6rem;
}

.skillname {
  font-weight: bolder;
  color: #245c00;
  font-size: 1.2rem;
}

.skillimage {
  margin-top: 1.2rem;
}

.skillitem {
  height: 2.8rem;
  margin: 0.2rem;
}

.skillitem:hover {
  transform: scale(1.2);
}

.contact {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0rem;
}

.text {
  display: flex;
  flex-direction: row;
  margin: 0.8rem;
  color: #1a2828;
}

.icon {
  width: 2.8rem;
  height: 2.8rem;
  margin-right: 0.4rem;
}

.contact-title {
  color: #245c00;
  font-size: 1rem;
  font-weight: bolder;
}

.contact-content {
  color: #245c00;
  font-size: 1.2rem;
  text-decoration: none !important;
}

a:-webkit-any-link {
  color: #245c00;
  text-decoration: none !important;
}

#backTop {
  display: none;
  position: fixed;
  bottom: 1.6rem;
  right: 2rem;
  z-index: 1;
  border: none;
  outline: none;
  background-color: #67a125;
  color: white;
  text-align: center;
  cursor: pointer;
  padding-left: 0.8rem;
  border-radius: 100%;
  width: 3.2rem;
  height: 3.2rem;
  opacity: 0.6;
}

#backTop:hover {
  background-color: #245c00;
}
