@font-face {
  font-family: Sarabun-Bold;
  src: url(../font/Sarabun-Bold.ttf);
}
@font-face {
  font-family: Sarabun-ExtraBold;
  src: url(../font/Sarabun-ExtraBold.ttf);
}
@font-face {
  font-family: Sarabun-Regular;
  src: url(../font/Sarabun-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sarabun-Regular";
  background: #fff8f2;
  color: #000;
}

.menu-btn {
  display: none;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 1.2rem 2rem;
  text-align: right;
  background-color: #fefae0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1.4rem;
  justify-content: flex-end;
}

.nav-item {
  text-decoration: none;
  color: #bc6c25;
  font-size: 1rem;
}

.nav-item:hover {
  font-family: "Sarabun-ExtraBold";
  font-size: medium;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5.2rem 3.6rem;
  position: relative;
}

.profile-image {
  position: relative;
  flex: 1;
  text-align: center;
}

.profile-image img {
  position: relative;
  max-height: 46rem;
  z-index: 1;
  filter: drop-shadow(0.8rem 0.08rem #dda15e);
}

.profile-design {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 14rem;
  height: 2.8rem;
  background: transparent;
  border: 0.6rem solid #dda15e;
  border-radius: 50%;
  z-index: 1;
}

.profile-background {
  position: absolute;
  bottom: 0.2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 36rem;
  height: 40rem;
  border-radius: 60% 60% 4% 4%;
  background: #dda15e;
  opacity: 30%;
}

.profile-content {
  flex: 1;
  padding-left: 1.6rem;
  padding-right: 4rem;
}

.profile-content h1 {
  font-family: "Sarabun-ExtraBold";
  font-size: 3.2rem;
  color: #606c38;
}

.profile-content h1 span {
  font-family: "Sarabun-ExtraBold";
  color: #dda15e;
  font-size: 3.6rem;
  font-weight: 400;
  display: inline-block;
  margin-top: 1rem;
}

.profile-content p {
  font-size: 1.2rem;
  text-align: justify;
  margin-top: 2rem;
  line-height: 1.6;
}

.getstarted {
  padding-top: 2.8rem;
}

.startedbtn {
  background-color: #bc6c25;
  color: #fff;
  border-radius: 1.6rem;
  border: none;
  padding: 0.8rem 1.2rem;
  font-size: 1.2rem;
}

.startedbtn:hover {
  background-color: #dda15e;
}

.aboutme {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5.2rem 3.6rem;
  position: relative;
}

.about-content {
  display: flex;
  flex-direction: column;
  flex: 2;
  text-align: justify;
  padding-left: 4rem;
}

.about-me {
  flex: 2;
}

.about-me h1 {
  font-family: "Sarabun-Bold";
  font-size: 2.8rem;
  color: #606c38;
}

.about-me p {
  font-size: 1.2rem;
  text-align: justify;
  margin: 2rem 2.8rem 0 0;
  line-height: 1.6;
}

.education {
  flex: 1;
  line-height: 1.6;
  padding-top: 2.8rem;
}

.education h1 {
  font-family: "Sarabun-Bold";
  font-size: 2.8rem;
  color: #606c38;
}

.major {
  font-family: "Sarabun-Bold";
  font-size: 1.6rem;
  color: #93987c;
}

.university {
  font-size: 1.2rem;
}

.gpa {
  font-size: 1.2rem;
  color: #606c38;
}

.down-btn {
  padding-top: 2.8rem;
}

.downloadbtn {
  background-color: #606c38;
  color: #fff;
  border-radius: 1.6rem;
  border: none;
  padding: 0.8rem 1.2rem;
  font-size: 1.2rem;
}

.downloadbtn:hover {
  background-color: #283618;
}

.about-image {
  position: relative;
  flex: 1;
  text-align: center;
}

.about-image img {
  position: relative;
  max-height: 48rem;
  border-radius: 60%;
  border: solid 0.2rem #283618;
  transform: rotate(5deg);
  z-index: 1;
}

.about-design {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 20rem;
  height: 4.2rem;
  background: transparent;
  border: 0.6rem solid #dda15e;
  border-radius: 50%;
  z-index: 0;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5.2rem 3.6rem;
}

.skills h1 {
  font-family: "Sarabun-ExtraBold";
  font-size: 2.8rem;
  color: #606c38;
}

.skill-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.skill-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2.4rem;
  border-radius: 1.2rem;
}

.skill-name {
  display: flex;
  justify-content: center;
  font-family: "Sarabun-Bold";
  font-size: 1.6rem;
  color: #93987c;
  margin: 0.4rem;
}

.skill-image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0.8rem;
}

.skill-item {
  height: 3.2rem;
  margin: 0.8rem;
}

.skill-item:hover {
  transform: scale(1.2);
}

.workexperience {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5.2rem 3.6rem;
}

.experience {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.experience h1 {
  font-family: "Sarabun-ExtraBold";
  font-size: 2.8rem;
  color: #606c38;
}

.experience-open {
  font-family: "Sarabun-Bold";
  font-size: 2rem;
  color: #dda15e;
  margin: 2rem;
}

.experience-timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  position: relative;
  padding: 0 4rem;
  gap: 4rem;
}

.timeline-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  color: #606c38;
  cursor: pointer;
  font-size: 1.2rem;
}

.timeline-step::before {
  content: "";
  position: relative;
  display: block;
  height: 1.2rem;
  width: 1.2rem;
  background-color: #93987c;
  border-radius: 50%;
  margin-bottom: 0.4rem;
  z-index: 2;
}

.experience-timeline::after {
  content: "";
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  height: 0.2rem;
  background-color: #606c38;
  z-index: 1;
}

.timeline-step.active {
  color: #bc6c25;
  font-weight: bold;
}

.timeline-step.active::before {
  background-color: #bc6c25;
}

.experience-content {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
}

.experience-bg {
  width: 42rem;
  height: 32rem;
  margin: 2rem;
  background-color: #fbeee1;
  border-radius: 1.2rem;
  border: 0.04rem solid #606c38;
}

.experience-bg:hover {
  cursor: pointer;
  border: 0.2rem solid #606c38;
}

.experience-chosen {
  background-color: #eff2d9;
  border: 0.4rem solid #bc6c25;
}

.experience-group {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
}

.experience-company {
  font-size: 1.6rem;
  font-family: "Sarabun-ExtraBold";
  color: #dda15e;
}

.experience-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 0;
}

.experience-position {
  font-size: 1.4rem;
  font-family: "Sarabun-Bold";
  color: #bc6c25;
}

.experience-time {
  font-size: 1.2rem;
  font-style: italic;
}

.experience-description {
  text-align: justify;
  margin-left: 0.8rem;
  font-size: 1.2rem;
  list-style: circle;
  line-height: 2rem;
}

.experience-button {
  display: flex;
}

.experience-section {
  display: flex;
  padding: 0.4rem;
}

.slide-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  padding: 0.4rem;
  border-radius: 50%;
  font-size: 1.2rem;
  border: 0.04rem #bc6c25 solid;
  background-color: #dda15e;
  color: #fff;
}

.slide-btn:hover {
  background-color: #bc6c25;
}

.mb_experience-content {
  display: none;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5.2rem 3.6rem;
}

.projects h1 {
  font-family: "Sarabun-ExtraBold";
  font-size: 2.8rem;
  color: #606c38;
}

.project-list {
  display: flex;
  justify-content: center;
  text-align: justify;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin: 2rem;
}

.project-group {
  width: 45%;
  display: block;
  flex-direction: column;
  margin: 0.8rem;
  padding: 0.8rem 2rem;
  background-color: #fbeee1;
  border-radius: 1.2rem;
  border: 0.04rem solid #606c38;
}

.project-group:hover {
  cursor: pointer;
  border: 0.2rem solid #606c38;
}

.project-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  padding: 0.2rem 0;
}

.project-name {
  font-size: 1.4rem;
  font-family: "Sarabun-ExtraBold";
  color: #bc6c25;
}

a:-webkit-any-link {
  color: #bc6c25;
  text-decoration: none !important;
}

.project-time {
  font-size: 1.2rem;
  font-style: italic;
}

.project-description {
  text-align: justify;
  margin-left: 0.4rem;
  font-size: 1.2rem;
  list-style: circle;
  line-height: 2rem;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5.2rem 3.6rem;
}

.products h1 {
  font-family: "Sarabun-ExtraBold";
  font-size: 2.8rem;
  color: #606c38;
}

.product-list {
  position: relative;
  overflow: hidden;
  width: 90%;
  margin: 0.8rem;
  padding: 0.8rem 1.2rem;
  background-color: #fbeee1;
  border-radius: 1.2rem;
  border: 0.04rem solid #606c38;
}

.product-group {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
}

.slide {
  display: none;
}

.slide.active {
  display: flex; /* Hiển thị slide đang active */
}

.product-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  padding: 0.2rem 0;
}

.product-name {
  font-size: 1.4rem;
  font-family: "Sarabun-ExtraBold";
  color: #bc6c25;
}

.product-time {
  font-size: 1.2rem;
  font-style: italic;
}

.product-description {
  margin: 0.4rem 1.2rem;
}

.product-figma {
  border-radius: 1.2rem;
  border: 0.08rem solid rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 40rem;
}

.prev,
.next {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  top: 50%;
  padding: 0.4rem;
  color: #bc6c25;
  font-size: 1.6rem;
  border-radius: 50%;
}

.prev {
  left: 0.4rem;
}

.next {
  right: 0.4rem;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5.2rem 3.6rem 0 3.6rem;
  position: relative;
}

.contact-info {
  flex: 1;
  padding: 0 4rem;
}

.contact-info h1 {
  font-family: "Sarabun-ExtraBold";
  font-size: 3.6rem;
  color: #606c38;
}

.contact-info span {
  font-family: "Sarabun-Bold";
  color: #dda15e;
  font-size: 2.4rem;
  margin-top: 1rem;
}

.contact-info p {
  text-align: justify;
  font-size: 1.6rem;
  margin-top: 2rem;
  line-height: 1.6;
  color: #283618;
}

.contact-list {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 2rem;
}

.contact-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.4rem;
  color: #606c38;
}

.icon {
  width: 2.8rem;
  height: 2.8rem;
  margin-right: 0.8rem;
}

.contact-detail {
  display: flex;
  flex-direction: row;
  font-size: 1.4rem;
  color: #bc6c25;
}

.contact-title {
  width: 6rem;
}

.contact-content {
  color: #bc6c25;
  text-decoration: none !important;
  cursor: pointer;
}

.contact-image {
  position: relative;
  flex: 1;
  text-align: center;
}

.contact-image img {
  position: relative;
  max-height: 54rem;
  z-index: 1;
  filter: drop-shadow(0.8rem 0.08rem #dda15e);
}

.contact-background {
  position: absolute;
  top: 6rem;
  left: 55%;
  transform: translateX(-50%);
  width: 44rem;
  height: 44rem;
  border-radius: 50%;
  background: #dda15e;
  opacity: 30%;
}

#backTop {
  display: none;
  position: fixed;
  bottom: 1.6rem;
  right: 2rem;
  z-index: 1;
  border: none;
  outline: none;
  background-color: #dda15e;
  color: white;
  text-align: center;
  cursor: pointer;
  padding-left: 0.6rem;
  border-radius: 100%;
  width: 2.8rem;
  height: 2.8rem;
}

@media (min-width: 768px) and (max-width: 1440px) {
  #backTop {
    display: block;
  }

  .menu-btn {
    display: none;
  }

  .navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0.6rem 2rem;
  }

  .nav-list {
    gap: 0.8rem;
  }

  .nav-item {
    font-size: 0.8rem;
  }

  .nav-item:hover {
    font-size: small;
  }

  .profile {
    padding: 5.2rem 3.6rem;
  }

  .profile-image img {
    max-height: 24rem;
    filter: drop-shadow(0.4rem 0.04rem #dda15e);
  }

  .profile-design {
    top: -1.2rem;
    width: 8rem;
    height: 1.6rem;
    border: 0.2rem solid #dda15e;
  }

  .profile-background {
    width: 18rem;
    height: 20rem;
  }

  .profile-content {
    padding-left: 0;
    padding-right: 0;
  }

  .profile-content h1 {
    font-size: 1.6rem;
  }

  .profile-content h1 span {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 0.4rem;
  }

  .profile-content p {
    font-size: 0.8rem;
    margin-top: 1.2rem;
  }

  .getstarted {
    padding-top: 1.2rem;
  }

  .startedbtn {
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
  }

  .aboutme {
    padding: 5.2rem 3.6rem;
  }

  .about-content {
    padding-left: 2rem;
  }

  .about-me h1 {
    font-size: 1.4rem;
  }

  .about-me p {
    font-size: 0.8rem;
    margin: 0.8rem 0 0;
  }

  .education {
    padding-top: 0.8rem;
  }

  .education h1 {
    font-size: 1.4rem;
  }

  .major {
    font-size: 1rem;
  }

  .university {
    font-size: 0.8rem;
  }

  .gpa {
    font-size: 0.8rem;
  }

  .down-btn {
    padding-top: 2rem;
  }

  .downloadbtn {
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
  }

  .about-image {
    padding-left: 2rem;
  }

  .about-image img {
    max-height: 24rem;
    transform: rotate(10deg);
  }

  .about-design {
    bottom: -0.4rem;
    width: 10rem;
    height: 1.6rem;
    border: 0.2rem solid #dda15e;
  }

  .skills {
    padding: 5.2rem 3.6rem;
  }

  .skills h1 {
    font-size: 1.6rem;
  }

  .skill-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .skill-group {
    margin: 1.2rem 0rem;
    border-radius: 0.8rem;
  }

  .skill-name {
    font-size: 1.2rem;
  }

  .skill-image {
    margin: 0.4rem;
  }

  .skill-item {
    height: 3.2rem;
    margin: 1.2rem;
  }

  .skill-item:hover {
    transform: scale(1.2);
  }

  .workexperience {
    padding: 5.2rem 3.6rem;
  }

  .experience h1 {
    font-size: 1.6rem;
  }

  .experience-open {
    font-size: 1.2rem;
    margin: 1.2rem;
  }

  .experience-timeline {
    padding: 0 2rem;
    gap: 2rem;
  }

  .timeline-step {
    font-size: 0.8rem;
  }

  .timeline-step::before {
    height: 0.8rem;
    width: 0.8rem;
  }

  .experience-timeline::after {
    height: 0.1rem;
  }

  .experience-content {
    font-size: 0.8rem;
  }

  .experience-bg {
    width: 42vw;
    min-height: 30vh;
    max-height: 60vh;
    margin: 1.2rem;
    border-radius: 0.8rem;
    border: 0.02rem solid #606c38;
  }

  .experience-chosen {
    border: 0.02rem solid #bc6c25;
  }

  .experience-group {
    padding: 0.8rem;
  }

  .experience-company {
    font-size: 1.2rem;
  }

  .experience-title {
    padding: 0.4rem 0;
  }

  .experience-position {
    font-size: 1rem;
  }

  .experience-time {
    font-size: 0.8rem;
  }

  .experience-description {
    margin-left: 0.8rem;
    font-size: 0.8rem;
    line-height: 1.4rem;
  }

  .mb_experience-content {
    display: none;
  }

  .experience-section {
    display: flex;
    padding: 0.2rem;
  }

  .slide-btn {
    width: 2.4rem;
    height: 2.4rem;
  }

  .projects {
    padding: 5.2rem 3.6rem;
  }

  .projects h1 {
    font-size: 1.6rem;
  }

  .project-list {
    margin: 0.8rem;
  }

  .project-group {
    margin: 0.4rem;
    padding: 0.4rem 0.8rem;
    border-radius: 0.8rem;
    border: 0.02rem solid #606c38;
  }

  .project-title {
    font-size: 0.8rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0.2rem 0;
  }

  .project-name {
    font-size: 1rem;
  }

  .project-time {
    font-size: 0.8rem;
  }

  .project-description {
    font-size: 0.8rem;
    margin-left: 0.8rem;
    line-height: 1.4rem;
  }

  .products {
    padding: 5.2rem 3.6rem;
  }

  .products h1 {
    font-size: 1.6rem;
  }

  .product-list {
    border-radius: 0.8rem;
    border: 0.02rem solid #606c38;
  }

  .product-group {
    transition: transform 0.3s ease-in-out;
  }

  .product-title {
    padding: 0.2rem 0;
  }

  .product-name {
    font-size: 1rem;
  }

  .product-time {
    font-size: 0.8rem;
  }

  .product-figma {
    border-radius: 0.8rem;
    border: 0.08rem solid #dda15e;
    width: 100%;
    height: 36rem;
  }

  .prev,
  .next {
    padding: 0.2rem;
    color: #bc6c25;
    font-size: 1.2rem;
  }

  .prev {
    left: 0.4rem;
  }

  .next {
    right: 0.4rem;
  }

  .contact {
    padding: 5.2rem 3.6rem 0 3.6rem;
  }

  .contact-info {
    flex: 1;
    padding: 0;
  }

  .contact-info h1 {
    font-size: 1.6rem;
  }

  .contact-info span {
    font-size: 1.2rem;
  }

  .contact-info p {
    font-size: 0.8rem;
    margin-top: 2rem;
  }

  .contact-list {
    padding: 0.8rem;
  }

  .contact-group {
    margin: 0.2rem;
  }

  .icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.4rem;
  }

  .contact-detail {
    font-size: 0.8rem;
  }

  .contact-title {
    display: none;
  }

  .contact-content {
    text-decoration: none !important;
  }

  .contact-image {
    display: flex;
    position: relative;
    flex: 1;
    align-items: flex-end;
  }

  .contact-image img {
    max-height: 24rem;
  }

  .contact-background {
    top: 2rem;
    width: 18rem;
    height: 18rem;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  #backTop {
    display: block;
  }

  .navbar {
    padding: 1.2rem 0rem;
    height: 2rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .menu-btn {
    display: block;
    border: none;
    background-color: #fefae0;
    color: #bc6c25;
    padding: 0;
    margin: 0.4rem;
  }

  .nav-list {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fefae0;
    width: 100%;
    text-align: center;
    z-index: 2;
  }

  .nav-list.show {
    display: block;
    margin: 0;
  }

  .nav-item {
    display: block;
    padding: 0.4rem 0;
  }

  .profile {
    flex-direction: column;
    padding: 2rem 3.2rem;
  }

  .profile-image img {
    display: flex;
    max-height: 20rem;
    filter: drop-shadow(0.4rem 0.04rem #dda15e);
    z-index: 1;
  }

  .profile-design {
    top: -1.2rem;
    width: 6rem;
    height: 1.2rem;
    border: 0.2rem solid #dda15e;
    z-index: 0;
  }

  .profile-background {
    bottom: 0rem;
    width: 16rem;
    height: 16rem;
  }

  .profile-content {
    padding-left: 0;
    padding-right: 0;
    padding-top: 1.2rem;
  }

  .profile-content h1 {
    font-size: 1.2rem;
  }

  .profile-content h1 span {
    font-size: 1.6rem;
    font-weight: 200;
    margin-top: 0.4rem;
  }

  .profile-content p {
    font-size: 0.8rem;
    margin-top: 0.8rem;
  }

  .getstarted {
    padding-top: 1.2rem;
  }

  .startedbtn {
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
  }

  .aboutme {
    flex-direction: column;
    padding: 1.2rem 3.2rem;
  }

  .about-content {
    text-align: justify;
    padding: 0;
  }

  .about-me h1 {
    font-size: 1.2rem;
  }

  .about-me p {
    font-size: 0.8rem;
    margin-top: 0.4rem;
    margin-right: 0;
  }

  .education {
    padding-top: 1.2rem;
  }

  .education h1 {
    font-size: 1.2rem;
  }

  .major {
    font-size: 0.8rem;
  }

  .university {
    font-size: 0.8rem;
  }

  .gpa {
    font-size: 0.8rem;
  }

  .down-btn {
    padding-top: 1.2rem;
  }

  .downloadbtn {
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
  }

  .about-image {
    display: none;
  }

  .skills {
    padding: 2rem 3.2rem;
  }

  .skills h1 {
    font-size: 1.2rem;
  }

  .skill-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .skill-group {
    margin: 0.4rem 0rem;
    border-radius: 0.8rem;
  }

  .skill-name {
    font-size: 1rem;
  }

  .skill-image {
    margin: 0.2rem;
  }

  .skill-item {
    height: 2rem;
    margin: 0.4rem;
  }

  .workexperience {
    padding: 1.2rem 3.2rem;
  }

  .experience h1 {
    font-size: 1.2rem;
  }

  .experience-open {
    font-family: "Sarabun-Regular";
    font-size: 1rem;
    margin: 0.8rem 0;
  }

  .experience-timeline {
    display: none;
  }

  .experience-content {
    display: none;
  }

  .mb_experience-content {
    display: flex;
    flex-direction: column;
  }

  .mb_experience-bg {
    display: flex;
    min-width: fit-content;
    height: fit-content;
    margin: 0.2rem 0;
    padding: 0.2rem;
    font-size: 0.8rem;
    background-color: #fbeee1;
    border-radius: 0.8rem;
    border: 0.04rem solid #606c38;
  }

  .mb_experience-group {
    display: flex;
    flex-direction: column;
    padding: 0.4rem;
  }

  .mb_experience-company {
    font-size: 1rem;
    font-family: "Sarabun-ExtraBold";
    color: #dda15e;
  }

  .mb_experience-title {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.2rem 0;
  }

  .mb_experience-position {
    font-size: 1rem;
    font-family: "Sarabun-Bold";
    color: #bc6c25;
  }

  .mb_experience-time {
    font-size: 0.8rem;
    font-style: italic;
  }

  .mb_experience-description {
    text-align: justify;
    margin-left: 0.8rem;
    font-size: 0.8rem;
    list-style: circle;
    line-height: 1.2rem;
  }

  .experience-button {
    display: none;
  }

  .projects {
    padding: 1.2rem 3.2rem;
  }

  .projects h1 {
    font-size: 1.2rem;
  }

  .project-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
    gap: 0;
    margin: 1.2rem 0;
  }

  .project-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0.2rem 0;
    padding: 0.4rem;
    border-radius: 0.8rem;
    border: 0.04rem solid #606c38;
  }

  .project-title {
    font-size: 0.8rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0.2rem 0;
  }

  .project-name {
    font-size: 1rem;
    font-family: "Sarabun-Bold";
  }

  .project-time {
    font-size: 0.8rem;
  }

  .project-description {
    font-size: 0.8rem;
    margin-left: 1.2rem;
    margin-right: 0.4rem;
    line-height: 1.2rem;
  }

  .products {
    padding: 1.2rem 3.2rem;
  }

  .products h1 {
    font-size: 1.2rem;
  }

  .product-list {
    width: 100%;
    border-radius: 0.8rem;
    border: 0.02rem solid #606c38;
  }

  .product-group {
    transition: transform 0.3s ease-in-out;
  }

  .product-title {
    padding: 0.2rem 0;
  }

  .product-name {
    font-size: 1rem;
  }

  .product-time {
    font-style: normal;
    font-size: 0.8rem;
  }

  .product-description {
    margin: 0.2rem 0rem;
  }

  .product-figma {
    border-radius: 0.8rem;
    border: 0.08rem solid #dda15e;
    width: 100%;
    height: 24rem;
  }

  .prev,
  .next {
    font-size: 0.8rem;
    border-radius: 50%;
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }

  .contact {
    padding: 1.2rem 3.2rem 0 3.2rem;
    align-items: flex-end;
  }

  .contact-info {
    flex: 1;
    padding: 0;
  }

  .contact-info h1 {
    font-size: 1.8rem;
  }

  .contact-info span {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .contact-info p {
    font-size: 0.8rem;
    margin-top: 1.2rem;
    line-height: 1.2;
  }

  .contact-list {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 0.4rem 0;
  }

  .contact-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.2rem;
    color: #606c38;
  }

  .icon {
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.2rem;
  }

  .contact-detail {
    font-size: 0.8rem;
  }

  .contact-title {
    display: none;
  }

  .contact-content {
    text-decoration: none !important;
  }

  .contact-image {
    display: flex;
    position: relative;
    flex: 1;
    align-items: flex-end;
  }

  .contact-image img {
    max-height: 14rem;
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .contact-background {
    display: none;
  }
}
