@font-face {
  font-family: Sarabun-Bold;
  src: url(../font/Sarabun-Bold.ttf);
}
@font-face {
  font-family: Sarabun-ExtraBold;
  src: url(../font/Sarabun-ExtraBold.ttf);
}
@font-face {
  font-family: Sarabun-Regular;
  src: url(../font/Sarabun-Regular.ttf);
}

body {
  font-family: "Sarabun-Regular";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.menu-btn {
  display: none;
}

.navbar {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  background-color: #245c00;
  height: 3.2rem;
  margin-bottom: 2rem;
  width: 100%;
}

ul {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  margin-right: 2rem;
}

li {
  display: inline;
}

.nav-item {
  cursor: pointer;
  padding: 0 0.8rem;
  text-decoration: none;
  color: #fff !important;
}

.nav-item:hover {
  font-family: "Sarabun-ExtraBold";
  font-weight: bolder;
  font-size: large;
}

.thumbnail {
  background-color: #e4e7e8;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 0 -3.2rem 0;
  padding-top: 3.2rem;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70vw;
  padding: 1.2rem;
}

.avatar {
  border-radius: 50%;
  border: solid 0.2rem #245c00;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 1.2rem;
  width: 80%;
}

.name {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-family: "Sarabun-ExtraBold" !important;
  color: #245c00;
}

.job-title {
  font-family: "Sarabun-Bold" !important;
  font-size: 1.2rem;
  color: #67a125;
}

.btn {
  margin: 1rem 0;
}

.downloadbtn {
  background-color: #67a125;
  color: #fff;
  border-radius: 0.6rem;
  border: none;
  padding: 0.6rem;
  font-size: 0.8rem;
}

.downloadbtn:hover {
  background-color: #245c00;
}

.visitCountTitle {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  color: #245c00;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.8rem 0;
  width: 70vw;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.navdetail {
  width: 100%;
  padding-top: 3.2rem;
}

.detailtitle {
  font-family: "Sarabun-Bold";
  font-size: 1.4rem;
  color: #67a125;
  margin-bottom: 0.2rem;
}

.detailbg {
  width: 100%;
  background-color: #fcfefe;
  border-radius: 0.4rem;
  border: 0.04rem solid #245c00;
}

.detailcontent {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 1rem;
  text-align: justify;
}

.experience-group {
  display: flex;
  flex-direction: column;
}

.experience-company {
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: "Sarabun-ExtraBold";
  color: #245c00;
}

.experience-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.4rem 0;
}

.experience-position {
  font-size: 1rem;
  font-weight: bolder;
  font-family: "Sarabun-Bold";
  color: #67a125;
}

.experience-time {
  font-style: italic;
}

.experience-description {
  margin-left: 0.4rem;
}

.project-group {
  display: flex;
  flex-direction: column;
}

.project-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.project-title {
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: "Sarabun-Bold";
  color: #245c00;
}

.project-time {
  font-size: 1rem;
  font-style: italic;
}

.project-description {
  margin-left: 0.4rem;
}

.education-content {
  display: flex;
  margin: 0.2rem;
}

.education-title {
  font-weight: bolder;
  color: #245c00;
  margin-right: 0.2rem;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skilllist {
  display: flex;
  width: 100%;
}

.skill {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25%;
  margin: 0 0.4rem;
}

.skillname {
  font-weight: bolder;
  color: #245c00;
  font-size: 1.2rem;
}

.skillimage {
  margin: 0.8rem 1.2rem 0 1.2rem;
}

.skillitem {
  height: 2.8rem;
  margin: 0.2rem;
}

.skillitem:hover {
  transform: scale(1.2);
}

.certification-content {
  display: flex;
  margin: 0.2rem;
}

.certification-title {
  font-weight: bolder;
  width: 45vw;
  color: #245c00;
}

.certification-title:hover {
  color: #67a125;
}

.certification-description {
  width: 45vw;
}

.certification-date {
  display: flex;
  justify-content: flex-end;
  width: 10vw;
}

.achievements-content {
  display: flex;
  justify-content: space-between;
  margin: 0.08rem;
}

.achievements-title {
  font-weight: bolder;
  width: 50vw;
  padding-right: 0.8rem;
  color: #245c00;
}

.achievements-title:hover {
  color: #67a125;
}

.achievements-description {
  width: 42vw;
  padding-right: 0.8rem;
}

.achievements-date {
  display: flex;
  justify-content: flex-end;
  width: 8vw;
}

.contact {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0rem;
}

.text {
  display: flex;
  flex-direction: row;
  margin: 0.4rem;
  color: #1a2828;
}

.icon {
  width: 2.8rem;
  height: 2.8rem;
  margin-right: 0.4rem;
}

.contact-title {
  color: #245c00;
  font-size: 1rem;
  font-weight: bolder;
}

.contact-content {
  color: #245c00;
  font-size: 1rem;
  text-decoration: none !important;
}

a:-webkit-any-link {
  color: #245c00;
  text-decoration: none !important;
}

#backTop {
  display: none;
  position: fixed;
  bottom: 1.6rem;
  right: 2rem;
  z-index: 1;
  border: none;
  outline: none;
  background-color: #67a125;
  color: white;
  text-align: center;
  cursor: pointer;
  padding-left: 0.8rem;
  border-radius: 100%;
  width: 3.2rem;
  height: 3.2rem;
  opacity: 0.6;
}

#backTop:hover {
  background-color: #245c00;
}

/* CSS for responsive button "Go to top" */
@media screen and (max-width: 768px) {
  #backTop {
    display: block;
  }
}

/* CSS for responsive navbar and menu button */
@media screen and (max-width: 768px) {
  .nav-list {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #245c00;
    width: 100%;
    padding: 0.2rem 0;
    text-align: center;
    z-index: 1;
  }

  .nav-list.show {
    display: block;
    margin: 0;
  }

  .nav-item {
    display: block;
    padding: 0.4rem 0;
  }

  .navbar {
    height: 2rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .menu-btn {
    z-index: 100;
    display: block;
    background-color: #245c00;
    border: none;
    color: #fff;
    margin: 0.4rem;
  }
}

/* CSS for responsive thumbnail */
@media screen and (max-width: 768px) {
  .thumbnail {
    padding-top: 2rem;
  }

  .profile {
    width: 80vw;
  }

  .avatar {
    width: 6rem;
    height: 6rem;
  }

  .name {
    font-size: 1rem;
  }

  .job-title {
    font-size: 0.8rem;
  }

  .btn {
    font-size: 0.8rem;
    margin: 0.8rem 0;
  }

  .downloadbtn {
    border-radius: 0.4rem;
    padding: 0.4rem;
    font-size: 0.6rem;
  }

  .visitCountTitle {
    font-size: 0.8rem;
  }
}

/* CSS for responsive content */
@media screen and (max-width: 768px) {
  .content {
    margin: 2.4rem 0;
    width: 80vw;
  }

  .navdetail {
    padding-top: 2rem;
  }

  .detailtitle {
    font-size: 1.2rem;
  }

  .detailbg {
    border-radius: 0.6rem;
  }

  .detailcontent {
    padding: 0.6rem;
    font-size: 0.8rem;
  }

  .experience-company {
    font-size: 1rem;
  }

  .experience-content {
    flex-direction: column;
    margin: 0.08rem 0;
  }

  .experience-position {
    font-size: 0.8rem;
  }

  .experience-time {
    font-style: normal;
    font-size: 0.68rem;
  }

  .experience-description {
    margin-left: 0rem;
  }

  .project-content {
    flex-direction: column;
    margin: 0.08rem 0;
  }

  .project-title {
    font-size: 1rem;
  }

  .project-time {
    font-style: normal;
    font-size: 0.68rem;
  }

  .project-description {
    margin-left: 0rem;
  }

  .education-content {
    margin: 0.08rem;
  }

  .skilllist {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .skill {
    flex-direction: row;
    width: 100%;
  }

  .skillname {
    font-size: 0.8rem;
  }

  .skillimage {
    margin: 0 0 0 0.8rem;
    display: flex;
    align-items: center;
  }

  .skillitem {
    height: 1rem;
    margin: 0.1rem 0.2rem;
    justify-content: center;
  }

  .certification-content {
    flex-direction: column;
    font-size: 0.8rem;
  }

  .certification-title {
    width: 100%;
  }

  .certification-description {
    font-style: italic;
    width: 100%;
    margin-left: 0.4rem;
  }

  .certification-date {
    justify-content: flex-start;
    width: 100%;
    margin-left: 0.4rem;
  }

  .achievements-content {
    margin: 0.08rem;
    font-size: 0.8rem;
    flex-direction: column;
  }

  .achievements-title {
    width: 100%;
  }

  .achievements-description {
    font-style: italic;
    width: 100%;
    margin-left: 0.4rem;
  }

  .achievements-date {
    justify-content: flex-start;
    width: 100%;
    margin-left: 0.4rem;
  }

  .text {
    margin: 0.2rem 0;
  }

  .icon {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 0.2rem;
  }

  .contact {
    grid-template-columns: auto;
  }
  .contact-title {
    font-size: 0.8rem;
  }

  .contact-content {
    font-size: 0.8rem;
  }
}
